
<video autoplay muted loop>
    <source
            src="https://mdbootstrap.com/img/video/Sail-Away.mp4"
            type="video/mp4"
            />
  </video>
<h2 id="welcome">Welcome</h2>


<div class="container justify-content-center" style="margin-top: 250px; margin-bottom: 50px; padding-right: 8%;padding-left:10%">
   <h2 class="title" style="padding-top: 50px; color:#D7B69F;text-shadow:3px 3px 3px #103e02;">Welcome to "NurseAdminConnect"</h2> 

   <h3 style="color:#103e02;text-shadow:3px 3px 3px #D7B69F;">Empowering Nurses, Empowering Healthcare</h3>
    
    <p>At NurseAdminConnect, we're dedicated to revolutionizing 
      nurse administration and enhancing the healthcare experience 
      for administrators and nurses alike.
      Whether you're an administrator responsible for managing schedules 
      and overseeing your nursing team, or a nurse seeking streamlined 
      access to your schedules, pay, and communication with your administrator,
       you're in the right place.</p>
    
    <strong>For Administrators:</strong>
    <p>Effortlessly manage nurse schedules, 
    ensuring optimal coverage and efficiency.
     Supervise your nursing team with ease, 
     track their performance, and streamline communication 
     to ensure seamless coordination.</p>
    
    <strong>For Nurses</strong>:
    <p>Access your schedules conveniently, stay updated on your pay,
    and communicate effortlessly with your administrator.
     Focus on providing exceptional care knowing that your administrative
      tasks are simplified and organized.</p>
    
    <h3 class="title" style="padding-top: 50px; color:#103e02">"NurseAdminConnect" is more than just a platform; 
      it's a collaborative ecosystem designed to empower healthcare professionals and elevate patient care. Join us in shaping the future of nurse administration and healthcare delivery.
    </h3>
    <p>Let's embark on this journey together.</p>
    <p>Esther Schayek</p>
</div>





